<footer class="p-3">
	<div class="d-md-flex align-items-center container text-center">
		<div class="mb-md-0 mb-2">
			<a class="text-decoration-none d-md-inline d-block text-reset" href="/">
				&copy; 2022, Imagify.
			</a>
			<a
				class="text-decoration-none d-md-inline d-block text-reset"
				href="/legal/privacy-policy"
			>
				Privacy Policy.
			</a>
			<a
				class="text-decoration-none d-md-inline d-block text-reset"
				href="/legal/terms-of-service"
			>
				Terms of Service.
			</a>
		</div>
		<div class="ms-auto">
			<a
				href="https://twitter.com/imagifyit"
				class="text-reset text-decoration-none"
				target="_blank"
			>
				<i class="bi bi-twitter fs-4"></i>
			</a>
			<a
				href="https://linkedin.com/company/imagifyit"
				class="text-reset text-decoration-none px-3"
				target="_blank"
			>
				<i class="bi bi-linkedin fs-4"></i>
			</a>
			<a
				href="mailto:hello@imagify.ml"
				class="text-reset text-decoration-none"
				target="_blank"
			>
				<i class="bi bi-envelope-open-fill fs-4"></i>
			</a>
		</div>
	</div>
</footer>
