<footer class="p-3 navbar-dark text-light">
	<div class="d-flex align-items-center container">
		<div>
			<a class="text-decoration-none text-reset" href="/">
				&copy; 2021, Imagify.
			</a>
			<a class="text-decoration-none text-reset" href="/legal/privacy-policy">
				Privacy Policy
			</a>
		</div>
		<div class="ms-auto">
			<a
				href="https://twitter.com/imagifyit"
				class="text-reset text-decoration-none"
				target="_blank"
			>
				<i class="bi bi-twitter fs-4"></i>
			</a>
			<a
				href="https://linkedin.com/company/imagifyit"
				class="text-reset text-decoration-none px-3"
				target="_blank"
			>
				<i class="bi bi-linkedin fs-4"></i>
			</a>
			<a
				href="mailto:support@imagify.xyz"
				class="text-reset text-decoration-none"
				target="_blank"
			>
				<i class="bi bi-envelope-open-fill fs-4"></i>
			</a>
		</div>
	</div>
</footer>
