<button
	id="modal-button"
	class="d-none"
	data-bs-toggle="modal"
	data-bs-target="#tutorial"
></button>
<div class="modal fade" id="tutorial" tabindex="-1">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title text-center">How Does It Work?</h3>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
				></button>
			</div>
			<div class="text-center">
				<iframe
					src="https://www.youtube.com/embed/_wGpWcAFx14"
					title="YouTube video player"
					height="500px"
					width="700px"
					frameborder="0"
					class="rounded align-middle"
					id="embed"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen
				></iframe>
			</div>
		</div>
	</div>
</div>
