<button
  id="modal-button"
  class="d-none"
  data-bs-toggle="modal"
  data-bs-target="#tutorial"
></button>
<div class="modal fade" id="tutorial" tabindex="-1">
  <div
    class="modal-dialog modal-dialog-scrollable"
    style="max-width: 640px; width: 94%; margin: 16px auto 0"
  >
    <div class="modal-content" style="width: 100%">
      <div class="modal-header">
        <h3 class="modal-title text-center">How Does It Work?</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div
        class="text-center"
        style="position: relative; width: 100%; padding-bottom: 56.25%"
      >
        <iframe
          src="https://www.youtube.com/embed/_wGpWcAFx14"
          title="YouTube video player"
          style="
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
            padding: 16px;
          "
          class="rounded align-middle"
          id="embed"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
