<header>
	<nav class="">
		<div class="d-flex justify-content-center align-items-center">
			<img id="logo" src="/images/favicon.ico" width="64px" height="64px" alt="#">
			<a class="text-decoration-none" href="/">
				<h2 class="mb-0 py-1">Imagify</h2>
			</a>
		</div>
	</nav>
</header>
