<header>
	<nav class="navbar navbar-dark text-light">
		<div class="container justify-content-center">
			<a class="text-decoration-none text-reset" href="/">
				<h2 class="mb-0 py-1">Imagify</h2>
			</a>
		</div>
	</nav>
</header>
