<section id="proof" class="p-5">
	<div class="container">
		<h2 class="text-center fw-bold">What are people saying about us?</h2>
		<div id="grid">
			<div class="grid-item">
				<blockquote class="twitter-tweet">
					<p lang="en" dir="ltr">
						195 shares allotted thanks
						<a href="https://twitter.com/zomato?ref_src=twsrc%5Etfw">
							@zomato
						</a>
						I have more success in applying for IPOs than applying for jobs 😂😭
					</p>
					&mdash; Anupam Gupta (@b50)
					<a
						href="https://twitter.com/b50/status/1418099131868860417?ref_src=twsrc%5Etfw"
					>
						July 22, 2021
					</a>
				</blockquote>
			</div>
			<div class="grid-item">
				<blockquote class="twitter-tweet">
					<p lang="en" dir="ltr">
						Congratulations... you are the first person I am hearing who got
						some shares.
					</p>
					&mdash; Pooja Gupta Massand (@Pooja_Gupta)
					<a
						href="https://twitter.com/Pooja_Gupta/status/1418109282583646209?ref_src=twsrc%5Etfw"
					>
						July 22, 2021
					</a>
				</blockquote>
			</div>
			<div class="grid-item">
				<blockquote class="twitter-tweet">
					<p lang="en" dir="ltr">
						195 shares allotted thanks
						<a href="https://twitter.com/zomato?ref_src=twsrc%5Etfw">
							@zomato
						</a>
						I have more success in applying for IPOs than applying for jobs 😂😭
					</p>
					&mdash; Anupam Gupta (@b50)
					<a
						href="https://twitter.com/b50/status/1418099131868860417?ref_src=twsrc%5Etfw"
					>
						July 22, 2021
					</a>
				</blockquote>
			</div>
			<div class="grid-item">
				<blockquote class="twitter-tweet">
					<p lang="en" dir="ltr">
						A conclusion is either strong or weak, not right or wrong.<br /><br />H/T:
						<a href="https://twitter.com/farnamstreet?ref_src=twsrc%5Etfw">
							@farnamstreet
						</a>
					</p>
					&mdash; 0xDaksh ⟠ (@dakmig)
					<a
						href="https://twitter.com/dakmig/status/1418163292309098498?ref_src=twsrc%5Etfw"
					>
						July 22, 2021
					</a>
				</blockquote>
			</div>
			<div class="grid-item">
				<blockquote class="twitter-tweet">
					<p lang="en" dir="ltr">
						me every night:
						<a href="https://t.co/C24k4gBjlZ">pic.twitter.com/C24k4gBjlZ</a>
					</p>
					&mdash; •°~°• (@aestexts)
					<a
						href="https://twitter.com/aestexts/status/1417457571904950275?ref_src=twsrc%5Etfw"
					>
						July 20, 2021
					</a>
				</blockquote>
			</div>
			<div class="grid-item">
				<blockquote class="twitter-tweet">
					<p lang="en" dir="ltr">
						So I don&#39;t know if this is true or not, but I have been asked
						the same question about prepaid/PPI cards + credit.<br /><br />PPI
						is a fully KYCed instrument with escgrideguards built by RBI.
						That&#39;s why even Bajaj is using the same rails.<br /><br />Generally
						regulatorily blessed.
						<a href="https://t.co/hRReV9FoxP">https://t.co/hRReV9FoxP</a>
					</p>
					&mdash; Sandeep Srinivasa (@sandeepssrin)
					<a
						href="https://twitter.com/sandeepssrin/status/1418165521308999685?ref_src=twsrc%5Etfw"
					>
						July 22, 2021
					</a>
				</blockquote>
			</div>
		</div>
	</div>
</section>
