<section id="proof" class="p-5">
	<div class="text-center container d-flex-column justify-content-center">
		<h2 class="header fw-bold mb-4">What are people saying about us?</h2>
		<div class="shoutout-embed" data-wall="imagifyit"></div>
		<script
			class="shoutout-script"
			src="https://embed.shoutout.so/embed.js"
			defer
		></script>
	</div>
</section>
