<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- META TAGS -->
		<%- include("partials/meta") %>
		<!-- END META TAGS -->

		<!-- LINK TAGS -->
		<%- include("partials/link") %>
		<link rel="stylesheet" href="/styles/create.css" />
		<!-- END LINK TAGS -->

		<title>Create / Imagify</title>
	</head>
	<body>
		<form method="POST" action="/create" id="form">
			<div class="mb-3">
				<label class="control-label" for="title">Title</label>
				<input class="form-control" name="title" type="text" id="title" />
			</div>
			<div class="mb-3">
				<label class="control-label" for="Description">Description</label>
				<textarea
					class="form-control"
					name="description"
					id="description"
				></textarea>
			</div>
			<div class="mb-3">
				<label class="control-label" for="image">Upload Image</label>
				<input class="form-control" name="image" type="file" id="image" />
			</div>
			<div>
				<button class="btn btn-primary" id="submit" type="submit">
					Submit
				</button>
			</div>
		</form>

		<!-- SCRIPT TAGS -->
		<script src="/scripts/create.js" />
		<%- include("partials/script") %>
		<!-- END SCRIPT TAGS -->
	</body>
</html>
