<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- META TAGS -->
		<%- include("partials/meta") %>
		<!-- END META TAGS -->

		<!-- LINK TAGS -->
		<%- include("partials/link") %>
		<!-- END LINK TAGS -->

		<title>Create / Imagify</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light center">
			<div class="container-md">
				<a class="navbar-brand" href="/">Imagify</a>
			</div>
		</nav>

		<!-- SCRIPT TAGS -->
		<%- include("partials/script") %>
		<!-- END SCRIPT TAGS -->
	</body>
</html>
