<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- META TAGS -->
		<%- include("partials/meta") %>

		<!-- LINK TAGS -->
		<%- include("partials/link") %>
		<link rel="stylesheet" href="/styles/index.css" />

		<title>Imagify - Imagify Your Images</title>
	</head>
	<body>
		<body id="body" class="bg-light">
			<!-- NAVBAR -->
			<%- include("partials/navbar") %>

			<!-- SHOWCASE -->
			<section class="p-5">
				<div
					class="
						container
						text-center text-md-start
						d-md-flex
						align-items-center
					"
				>
					<div>
						<h1 id="header" class="fw-bold">Go From Link To Image!</h1>
						<p class="lead d-md-block d-none w-75" id="sub-header">
							We help you convert links to a beautiful image making your content
							stand out.
						</p>
						<p class="lead d-md-none" id="sub-header">
							We help you convert links to a beautiful image making your content
							stand out.
						</p>
						<a id="btn-showcase" href="/create" class="btn btn-lg text-light">
							Get Started
							<i class="bi bi-chevron-right"></i>
						</a>
					</div>

					<div class="d-md-block d-none">
						<img
							src="/images/Index-Showcase.svg"
							alt="#"
							class="img-fluid"
							id="showcase-img"
						/>
					</div>
				</div>
			</section>

			<!-- SCRIPT TAGS -->
			<%- include("partials/script") %>
		</body>
	</body>
</html>
