<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- META TAGS -->
		<%- include("partials/meta") %>
		<!-- END META TAGS -->

		<!-- LINK TAGS -->
		<%- include("partials/link") %>
		<!-- END LINK TAGS -->

		<title>Logout / Imagify</title>
	</head>
	<body>
		<!-- NO SCRIPT -->
		<%- include("partials/inline-script.ejs") %>

		<!-- SCRIPT TAGS -->
		<%- include("partials/script") %>
		<!-- END SCRIPT TAGS -->
	</body>
</html>
