:root {
	--large-card-width: 22.92em;
	--large-card-height: 12em;
	--small-card-dimension: 8em
}

.text-input {
	border: 3px solid #f2575786;
}

.text-input::placeholder {
	color: #f2575786;
}

#text-span {
	color: #f2575786;
	border: 3px solid #f2575786;
	border-right: 0;
}

#select-option * {
	color: #f2575786;
	border: 3px solid #f2575786;
}

#card-image {
	object-fit: cover;
	max-width: 39.2em;
	max-height: 20em;
	width: var(--large-card-width);
	height: var(--large-card-height);
	min-width: 9.55em;
	min-height: 5em;
}

#card-image-small {
	height: var(--small-card-dimension);
	width: var(--small-card-dimension);
	object-fit: cover;
}

.err, .err:focus {
	border-color: #ff6347;
}
