.text-input {
	border: 3px solid #f2575786;
}

.text-input::placeholder {
	color: #f2575786;
}

#text-span {
	color: #f2575786;
	border: 3px solid #f2575786;
	border-right: 0;
}

#select-option * {
	color: #f2575786;
	border: 3px solid #f2575786;
}

#card-large {
	max-width: 350px;
}

#card-image {
	width: 100%;
	max-height: 183px;
}

#card-small {
	height: 160px;
}

#card-image-small {
	width: 30%;
	/* max-height: 158px; */
}
