:root {
	--large-card-width: 22.92em;
	--large-card-height: 12em;
	--small-card-dimension: 8em;
	--color: #555;
}

.label {
	font-size: .85em;
}

.text-input {
	border: 1px solid var(--color);
}

.hint-text {
	margin-bottom: .1em;
	font-size: .9em;
	color: #ff6347;
	visibility: hidden;
}

.hint-text.error {
	visibility: visible;
}

.text-input:focus {
	outline-style: none;
}

.text-input::placeholder {
	color: #888;
}

#text-span {
	color: var(--color);
	border: 1px solid var(--color);
	border-right: 0;
}

#select-option * {
	color: var(--color);
	border: 1px solid var(--color);
}

#card-image {
	padding: 1px;
	border-radius: 3px;;
	object-fit: cover;
	/* object-position: 0 50%; */
	max-width: 39.2em;
	max-height: 20em;
	width: var(--large-card-width);
	height: var(--large-card-height);
	min-width: 9.55em;
	min-height: 5em;
}

#card-image-small {
	height: var(--small-card-dimension);
	width: var(--small-card-dimension);
	object-fit: cover;
	/* object-position: 0 50%; */
}

#spin {
	position: relative;
	float: right;
	margin-right: 1em;
	bottom: 2.7em;
	visibility: hidden;
}

.err, .err:focus {
	border-color: #ff6347;
}