* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins';
}

.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
 }
 
 .navbar-dark {
	background-color: #000;
}
 
 .main > * {
	flex: 1 1 auto;
 }
 
 .main header,
 .main footer {
	flex: 0 0 30px;
 }
 