:root {
	--s: #f0734f;
	--n: #54bd7e;
	--p: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins';
}

nav {
	padding: 0.4em 0;
	border-bottom: 1px solid #ccc;
	background-color: var(--n);
}

nav h2 {
	color: var(--p);
	font-size: 2.0em;
}

.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

section {
	color: var(--t);
	background-color: var(--p);
}

.btn-group {
	display: flex;
	align-items: center;
}

#btn-showcase {
	width: 225px;
	background-color: var(--n);
	box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

#btn-showcase:hover {
	background-color: #56af7e;
}

#ph-badge {
	width: 225px;
	height: 50px;
	margin-left: .5rem;
}

.main > * {
	flex: 1 1 auto;
}

.main header,
.main footer {
	flex: 0 0 30px;
}

footer {
	border-top: 1px solid #ccc;
}

footer a,
footer > * {
	color: var(--t);
}

@media screen and (max-width: 575px) {
	.btn-group {
		flex-direction: column;
	}

	#ph-badge {
		margin-left: 0;
		margin-top: .5rem;
	}
}