#title {
	color: var(--s);
}

#description {
	color: #333;
}

#showcase-img {
	padding: none;
	min-width: 28em;
	width: 42em;
	height: auto;
}

.header {
	color: #f0734f;
}

.grid-item {
	width: 350px;
}

.image {
	max-width: 400px;
}
