section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#title {
	color: #f29d35;
}

#description {
	color: #f25757;
}

#btn-showcase {
	background: #56bd73;
}

#showcase-img {
	min-width: 25em;
	width: 30em;
}
