section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#uploader {
	/* align-items: center; */
	min-width: 30em;
	width: 65vw;
	background-color: #f2575736;
	/* z-index: 1; */
	border: 3px solid #f2575786;
	/* margin: 0; */
}

#uploader-icon {
	min-width: 10em;
	max-width: 15em;
	padding: 2vw;
	opacity: 25%;
}

#uploader-text {
	/* position: absolute; */
	color: #f2575786;
	margin-bottom: 1em;
}

#uploader-input {
	display: none;
	/* height: 100%;
	width: 100%; */
}

#img-url {
	border: 3px solid #f2575786;
	margin-top: -3px;
	/* border-top: none; */
}

#img-url::placeholder {
	color: #f2575786;
	/* text-align: center; */
}
