#uploader {
	background-color: #f2575736;
	z-index: 1;
	border: 3px solid #f2575786;
	margin: 0;
}

#uploader-icon {
	width: 20vw;
	opacity: 25%;
}

#uploader-text {
	/* position: absolute; */
	color: #f2575786;
	margin: 0;
}

#uploader-input {
	height: 100%;
	width: 100%;
}

#img-url {
	border: 3px solid #f2575786;
	margin-top: -30px;
}

#img-url::placeholder {
	color: #f2575786;
}
