#uploader-div {
	min-width: 30em;
	width: 65vw;
	background-color: #f0724f1e;
	/* background-color: #8888881e; */
	border: 3px solid #f0724f7c;
	/* border: 3px solid #8888887c; */
	cursor: pointer;
}

#uploader-icon {
	min-width: 10em;
	max-width: 15em;
	padding: 2vw;
	margin-top: 1.2em;
	opacity: 12%;
}

#uploader-text {
	position: relative;
	top: -6em;
	font-weight: 500;
	color: #f0734f;
	/* color: #888; */
	margin-bottom: 1em;
}

#uploader-input {
	display: none;
}

#img-url {
	margin-top: -1.5em;
	border: 3px solid #f0724f7c;
	/* border: 3px solid #8888887c; */
}

#img-url::placeholder {
	color: #f0734f;
	/* color: #888; */
}

@media only screen and (min-width: 250px) {
	#uploader-div {
		min-width: 70vw;
	}

	#uploader-icon {
		width: 50%;
	}

	#uploader-text,
	#img-url {
		font-size: .75rem;
	}

	#uploader-text {
		top: -8em;
	}
}

@media only screen and (min-width: 595px) {
	#uploader-text,
	#img-url {
		font-size: .95rem;
	}

	#uploader-text {
		top: -7.5rem;
	}
}

@media only screen and (min-width: 675px) {
	#uploader-div  {
		height: 70%;
		min-width: 65vw;
	}

	#uploader-text,
	#img-url {
		font-size: 1.15rem;
	}

	#uploader-text {
		top: -6em;
	}
}
