#card-large {
	max-width: 350px;
}

#card-image {
	width: 100%;
	max-height: 183px;
}

#card-small {
	height: 160px;
}

#card-image-small {
	width: 30%;
	/* max-height: 158px; */
}

#link {
    color: #f0724f;
}